<header class="banner-header">
    <img alt="banner" id="sitebanner" src="static/images/Final Frontier Phone Banner.png" width="100%" height="100%">
</header>
<header class="header" style="font-size: 30px;">
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="our shops.html">Our Shops</a> </li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>
</header> 