* { /* The asterix is used to select all elements and do something to them */
    margin: 0; /* Space between the edge of the screen and the element. */
    padding: 0; /*Padding is used to create space around an element's content, inside of any defined borders.*/
}

.parallax { /* This is a class element for the parallax ability*/
/* The image used */
    background-image: url("static/images/Final-Frontier-Background.png");

/* Set a specific height */
    min-height: 700px; /* min-height keeps the size of the image no smaller than 700px*/

/* Create the parallax scrolling effect */
    background-attachment: fixed; /* Sets whether the background scrolls with the page or is fixed */
    background-position: center; /* Sets the starting position of the background image */
    background-repeat: no-repeat; /* Sets whether the backgroung image will be repeated */
    background-size: cover; /* Sets he size of the bckgr image. Cover resizes the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges. */
}



nav a:visited, /* selects the clicked links*/ /* Nav refers to the HTML nav tag in the body. */
nav a:link { /* selects the links*/
    color: #fff; /* sets the colour of an element. In this case the colour of the link */
    text-decoration: none; /*The text-decoration property specifies the decoration added to text.*/
    font-family: Tahoma, Geneva, sans-serif;
}
/* font-family: Impact, Charcoal, sans-serif; */
nav > ul { /* refers to the HTML tags. In the body, ul is nested within nav, hence the greater than symbol*/
    display: inline; /* specifies the display behaviour of the element. Inline displays an element as an inline element (like <span>). Any height and width properties will have no effect. */
    /* padding: 0; The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
}

nav > ul > li {
    display: inline-block; /* specifies the display behaviour of the element. 	Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values.*/
    list-style: none; /*Sets a list style.*/
    /* margin: 0 5px 0 5px; Space between the edge of the screen and the element. */
}

.block {
    width: 50%;
    text-align: center;
}

/* footer styling */
.footer { /* The nav bar */
    display: block; /* specifies the display behaviour of the element. Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width*/
    position: relative; /* The position property specifies the type of positioning method used for an element. Setting the top, right, bottom, and left properties of a relatively-positioned element will cause it to be adjusted away from its normal position. Other content will not be adjusted to fit into any gap left by the element.*/
    top: 0; /* affects the vertical position of a positioned element. Because position is relative the top property makes the element's top edge to move above/below its normal position.*/
    left: 0; /* affects the horizontal position of the element. Because position is relative in this case the left property sets the left edge of an element to a unit to the left/right of its normal position.*/
    width: 100%; /* sets the width of the element. This is to 100% of its container.*/
    background-color: #000000; /* The background-color property sets the background color of an element. The background of an element is the total size of the element, including padding and border (but not the margin).*/
    padding: 0px; /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders.*/          
    color: #fefefe;
    font-family: Tahoma, Geneva, sans-serif;
}

.heading {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
}

.subheading {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 35px;
}

.list {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    list-style-type: none;
}